<div>
    <label for="field1">Text Input 1</label>
    <br>
    <input 
    id="field1"
    type="text"
    (focus)="form.field1.touched.set(true)"
    [(ngModel)]="form.field1.currentValue">
    <br>
    Touched: {{form.field1.touched()}}
    <br>
    State: {{form.field1.state()}} : {{form.field1.stateMessage()}}
</div>
<br><br>
<div>
    <label for="field1Child">Text Input 2 Depends on Text Input 1</label>
    <br>
    <input 
    id="field1Child"
    type="text"
    (focus)="form.field1Child.touched.set(true)"
    [(ngModel)]="form.field1Child.currentValue">
    <br>
    Touched: {{form.field1Child.touched()}}
    <br>
    State: {{form.field1Child.state()}} : {{form.field1Child.stateMessage()}}
</div>
<br><br>
<div>
    <label for="field2">Text Input with no Validations</label>
    <br>
    <input 
    id="field2"
    type="text"
    (focus)="form.field2.touched.set(true)"
    [(ngModel)]="form.field2.currentValue">
    <br>
    Touched: {{form.field2.touched()}}
    <br>
    State: {{form.field2.state()}} : {{form.field2.stateMessage()}}
</div>
<br><br>
<div>
    <label for="dateField">Date Input</label>
    <br>
    <input 
    id="dateField"
    type="datetime-local"
    (focus)="form.dateField.touched.set(true)"
    [(ngModel)]="form.dateField.currentValue"
    >
    <br>
    Touched: {{form.dateField.touched()}}
    <br>
    State: {{form.dateField.state()}} : {{form.dateField.stateMessage()}}
</div>
<br><br>
<div>
    Form Valid: {{$formValid()}}
    <br>
    Current Value: {{$formValue() | json}}
    <br>
    All Errors: {{$formErrors() | json}}
</div>
<br><br>
<div>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </thead>
        <tbody>
            @for (item of $tableData.data(); track $index) {
                <tr>
                    <td>
                        <input type="text" [(ngModel)]="item.id.currentValue">
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="item.name.currentValue">
                    </td>
                    <td>
                        <button (click)="$tableData.removeItem($index)">Delete</button>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3">
                    <button (click)="$tableData.addItem()">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br><br>
<div>
    Table Valid: {{$tableValid()}}
    <br>
    Table Errors: {{$tableErrors() | json}}
    <br>
    Table Value: {{$tableValue() | json}}
</div>
<br><br>
<div>
    Complete Valid: {{$completeValid()}}
    <br>
    Complete Errors: {{$completeErrors() | json}}
    <br>
    Complete Value: {{$completeValue() | json}}
    <br><br>
    <button (click)="resetForm()">Reset Form</button>
    <br>
    <button (click)="submit()">Submit</button>
    <br>
    <button (click)="submit()" [disabled]="!$completeValid()">Submit If Valid</button>
</div>